:root {
    --margin-horizontal: 40px;
    --gap-horizontal: 30px;
}

.project-overview {
    margin: 20px var(--margin-horizontal);
}

.project-overview > button {
    text-align: left;
    width: min-content;
    padding: 0;
}

.project-overview > nav {
    margin-top: 15px;
}

.project-overview > * {
    width: calc(100% - 2 * var(--margin-horizontal));
}

.project-overview h1:not(.metrics-title){
    padding-top: 10px;
}

.projects-charts-container {
    gap: var(--gap-horizontal) !important;
}

.projects-charts-container > * {
    width: calc(50% - var(--gap-horizontal) / 2);
}

.projects-insights-container {
    padding: 0;
}

.projects-insights-container .ant-card-body {
    display: grid;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 24px;
}

.projects-insights-container h4 {
    margin: 0;
    font-weight: normal;
}

.projects-insights-container img {
    height: 20px;
}