.logo {
    height: 32px;
    margin: 16px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.site-layout .site-layout-header {
    background: #fff;
    height: 55px;
    text-align: right;
    padding: 0 15px;
    position: relative;
}

.site-layout-content {
    height: 100%;
}

.header-items-container {
    height: 55px;
    line-height: 55px;
    display: flex;
    float: right;
    justify-content: space-between;
}

.header-icon {
    padding-right: 10px;
    font-size: 20px;
}

.site-title {
    font-weight: bold;
    color: #fff;
}

.ant-layout-sider {
    text-align: left;
}

.ant-menu-item {
    height: 44px;
}


/* For the layout inside the right part */

:root {
    --margin-horizontal: 40px;
}

.sider-layout-content {
    margin: 20px var(--margin-horizontal) 60px var(--margin-horizontal);
}

/* Header */

.sider-layout-content-header {
    justify-content: space-between;
    height: 32px;
}

.sider-layout-content-header .projects-button {
    text-align: left;
    width: min-content;
    padding: 0;
}

.sider-layout-content-header .ant-space-item button {
    border-radius: inherit !important;
}

/* This one is Projects List specific */
.sider-layout-content-header .ant-space-item .projects-search input {
    width: 250px;
    height: 32px;
}

/* Breadcrumb Nav */

.sider-layout-content .page-breadcrumb {
    margin-top: 15px;
}

/* Rest of content */

.sider-layout-content > * {
    width: calc(100% - 2 * var(--margin-horizontal));
}

.sider-layout-content h1:not(:nth-child(3)){
    padding-top: 10px;
}