.chart-card .ant-card-head {
    font-size: 18px;
    border-bottom: none;
    justify-content: end;
}

.chart-card .insight-button {
    color: white;
}

.ant-popover-inner {
    background: #1677ff !important;
    font-weight: 600;
}

.ant-popover-inner span {
    color: white;
}

.insight-content {
    max-width: 400px;
}