:root {
    --margin-horizontal: 40px;
    --gap-horizontal: 30px;
}

.projects-list {
    margin: 20px var(--margin-horizontal) 60px var(--margin-horizontal);
}

.projects-list .projects-list-header {
    justify-content: space-between;
}

.projects-list .projects-list-header .ant-space-item button {
    border-radius: inherit !important;
}

.projects-list .projects-list-header .ant-space-item .projects-button button {
    text-align: left;
    width: min-content;
    padding-left: 0;
}

.projects-list .projects-list-header .ant-space-item .projects-search input {
    width: 250px;
    height: 32px;
}

.projects-list > nav {
    margin-top: 15px;
}

.projects-list > * {
    width: calc(100% - 2 * var(--margin-horizontal));
}

.projects-list h1:not(.your-projects-title){
    padding-top: 10px;
}